body{
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    
}
#drag1, #drag2, #drag3, #drag4{
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    margin-left: 30px;
    width:90%;
    height: 50px;
    background-color: white;
    opacity: 0.94;
    text-align: center;
    color: #7b1fa2;
    border-radius: 25px;

    
}

#div1,#div2 ,#div3, #div4 {
    width:90%;
    height: 95px;
    border: 1px dashed #F7730E;
    background-color: white;
    opacity: 0.88;
    margin-top:10px;
    border-radius: 25px;
    }
    
#white1,#white2,#white3,#white4{
    width: 90%;
    height: 50px;
    margin-left: 20px;

    

}

#nivel1{
    font-family: 'Indie Flower', bold;
    font-size: 32px;
    color: #7b1fa2;
}
#nivel2{
    font-family: 'Indie Flower', bold;
    font-size: 31px;
    color: #F7730E;
}



h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: #7b1fa2;
    margin-top: 20px;

}


p{
    font-size: large;
    margin-top: 30px;
}

footer{
    color: #757575;
    text-align: center;
}